.DS_Store
.vs_code/
.cache/
.pytest_cache/
__pycache__/
build/
dist/
flare.egg-info/
mir_flare.egg-info/
tags
pwscf.save/
/docs/source/_build/html
/docs/build/
/datasets/
/tests/test_ase/out/
/tests/test_ase/Al/
/tests/test_ase/__pycache__/
/tests/test_outputs/*
test_files/qe_output_*.out
/tests/*.xyz
/tests/*.gp
/tests/*-bak
/tests/*.out
/tests/*dat
/tests/alog
/tests/gp_from_aimd.out
/tests/h2_otf.out-f.xyz-bak
/tests/pwscf.wfc*
/tests/pwscf.in
/tests/pwscf.xml
/tests/*-RESTART.kp*
/tests/*.wfn*
/tests/*-bak
/tests/cp2k.in*
/tests/*.in_run
