tags
__pycache__/
pwscf.save/
.cache/
.pytest_cache/
/datasets/
/tests/test_ase/out/
/tests/test_ase/Al/
/tests/test_ase/__pycache__/
/tests/test_outputs/*
/tests/*.xyz
/docs/source/_build/html
/tests/*-bak
/tests/*.out
/tests/*dat
/tests/alog
/tests/gp_from_aimd.out
/tests/h2_otf.out-f.xyz-bak
/tests/pwscf.xml

