__pycache__/
pwscf.save/
.cache/
.pytest_cache/
/tests/test_mff/Al_md.out
/tests/test_mff/lmp_tmp/
/test/test_mff/
/datasets/
/tests/test_lammps/*.npy
/tests/test_lammps/*.txt
/tests/ase_otf/*.alloy
/tests/ase_otf/kv3/
/tests/ase_otf/grid3*
/tests/ase_otf/AgI_fast/out/
/tests/ase_otf/
/flare/ase/
/tests/test_outputs/*
/tests/*.xyz
/docs/source/_build/html
/tests/*-bak
/tests/*.out
/tests/*dat
/tests/alog
/tests/gp_from_aimd.out
/tests/h2_otf.out-f.xyz-bak
/tests/pwscf.xml

