sudo: true

language: python

python: 3.7

cache:
    - pip

before_install:
    - sudo apt update
    - sudo apt install -y quantum-espresso 
    - pip install codecov pytest pytest-cov pytest_mock
    - pwd
    - wget http://folk.uio.no/anjohan/lmp
    - chmod u+x lmp
    - pip install -r requirements.txt

script:
    - pwd
    - cd tests
    - PWSCF_COMMAND=pw.x lmp=$(pwd)/../lmp
      pytest --show-capture=all -vv --durations=0 --cov=../flare/
    - coverage xml

after_success:
    - codecov
