numpy >=1.18, <1.23
scipy
memory_profiler
numba
ase==3.22
IPython
pytest>=4.6
pytest-mock
cmake>=3.14.5
jupyter
nbconvert
pyyaml
wandb
# some dependencies of sphinx and notebook
docutils==0.17.1
alabaster==0.7.12
babel
pygments==2.11.2
nptyping
nbsphinx
